{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "waste-batteries-submit-frontend"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if successMessage %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="example-success-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="example-success-title">Success</h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">{{ successMessage }}</p>
          </div>
        </div>
      {% endif %}

      {% if errorMessage %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">There is a problem</h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li><a href="#exampleText">{{ errorMessage }}</a></li>
              </ul>
            </div>
          </div>
        </div>
      {% endif %}

      {% if loadErrorMessage %}
        <p class="govuk-body">{{ loadErrorMessage }}</p>
      {% endif %}

      <form method="post" action="/example" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}">

        <div class="govuk-form-group{% if errorMessage %} govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="exampleText">Example Text</label>
          {% if errorMessage %}
            <p id="exampleText-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ errorMessage }}
            </p>
          {% endif %}
          <input class="govuk-input{% if errorMessage %} govuk-input--error{% endif %}" id="exampleText" name="exampleText" type="text" value="{{ exampleText }}" {% if errorMessage %}aria-describedby="exampleText-error"{% endif %}>
        </div>

        <button class="govuk-button" data-module="govuk-button">Save</button>
      </form>
    </div>
  </div>
{% endblock %}
